<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- redirection des logs vers la sortir Console Standard -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="NONE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<!-- redirection vers un fichier -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>app.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="fr.brico" level="INFO">
		<appender-ref ref="NONE" />
	</logger>

	<!-- règle de logs par défaut. Ici : niveau ERROR vers la sortie FILE -->
	<root level="INFO">
		<appender-ref ref="NONE" />
	</root>
</configuration>




